

<div class="table">
    <table class="table">
      <tbody>
       <tr *ngFor=" let repository of RepoService.searchRepo" >
        <td>
          <h4>
            <a style="text-align: center" href="{{repository.html_url}} " >{{repository.name}}</a>
          </h4>
          <p > Repository Owner:
            <a href="{{repo.owner.html_url}}">{{repository.owner.login}}</a>
          </p>
          <p>Updated on {{repo.created_at|date}}</p>
          <p>Description : {{repo.description}}</p>
        </td>
      </tr>
      </tbody>
    </table>
    <hr>
  </div>