<div class="header">
    <h2>WELCOME</h2>

</div>
<div class="jumbotron">
    <h1></h1>
    <h1>GitHub Finder</h1> <hr> <hr>
    <p>This is a web Application that searches and displays GitHub Profiles of github Public users.
        You can search for Usernames of users and there <br> Github information will be displayed together 
        with their personal detailes that they have made public at Github</p>
    <div class="container">
        <app-search></app-search>
        <div class="card">
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                            
                                <img src="{{user.avatar_url}}" alt="">
                            </div>
                            <div class="col-ms-5">
                                <ul class="list-group">
                                    <li class="list-group-item">Username: <br>{{user.login}}</li>
                                    <li class="list-group-item">Number of repos:<br>{{user.public_repos}}</li>
                                    <!-- <li class="list-group-item">Bio:<br>{{repo.Array(14).name}}</li> -->
                                    <li class="list-group-item">Followers: <br>{{user.followers}}</li>
                                    <li class="list-group-item">Following: <br>{{user.following}}</li>
                                    <li class="list-group-item">Date Created: <br>{{user.created_at}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let repo of repos">
        <p>
            {{repo.name}} <a href="{{repo.html_url}}" class="btn btn-sm btn-warning">View this on github</a>
        </p>
    </div>

    <div class="footer">
    <footer>&copy; Copyright  Antony Munyasia 2020</footer>
</div>

