<div class="header">
    <h2>WELCOME</h2>

</div>
<div class="jumbotron">
    <h1></h1>
    <h1>GitHub Finder</h1>
    <p>This is a web Application that searches and displays GitHub Profiles of github Public users.
        You can search for Usernames of users and there <br> Github information will be displayed together 
        with their personal detailes that they have made public at Github</p>
    <div class="container">
        <app-search></app-search>
        <div class="card">
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="panel-heading">User Profile</div>
                                <ul>
                                    <li>Name</li>
                                    <li>Username</li>
                                    <li>Email</li>
                                    <li>Website</li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <img src="../../assets/tag.png" alt="">
                            </div>
                            <div class="col-ms-5">
                                <ul class="list-group">
                                    <li class="list-group-item">Bio:................................................</li>
                                    <li class="list-group-item">Company:</li>
                                    <li class="list-group-item">Followers:....</li>
                                    <li class="list-group-item">Following:....</li>
                                </ul>
                            </div>
                            <div class="com-sm-3">
                                <h4>Repositories</h4>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                
                </div>
                        
                
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <footer>&copy; Copyright  Antony Munyasia 2020 HTML.am</footer>
</div>

