.profile-photo{
    background-color: yellow;
    widows: 5%;
    height: 15%;
}
 .jumbotron p,h1{
     text-align: center;
}
 .jumbotron{
     background-color:aqua;
     color: rgb(2, 2, 41);
}


 h1{
     font-weight: 900;
 }
 
.col-sm-3 img{
    width: 100%;
    border-radius: 50%;
}

.col-sm-3{
    padding: 2%;
    
}
.header{
    background-color: rgb(2, 2, 41);
    width: 100%;
    height: 5%;
    border: 5px solid red;
    color: white;
}
.footer{
    text-align: center;
}
.com-sm-5 {
    border: 2px solid red;
    width: 30%;
    height: 10%;
    margin-top: 2%;
}

.card{
    background-color: grey;
}

.list-group{
    margin-top: 10%;
}