@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Merienda&family=Playball&display=swap");

*{
    padding: 0;
    margin: 0;
    font-family: 'Merienda', cursive;;
    
}