<!-- <div class="search">
    <input type="text" placeholder="Search git-username">
</div>
 -->

<!-- <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <form (ngSubmit)="searchFor(searchForm)" #searchForm="ngForm" class="form-inline active-cyan-4">
          <input type="text" class="form-control" name="find" placeholder="Search github username"[(ngModel)]= "searchInfo.find"  #find='ngModel'>
          <button class="btn btn-info  btn-sm" type="submit">Search</button>
        </form>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div> -->